.users {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 40rem;


}

.users ul {
  list-style: none;
  padding: 1rem 0;
}

.users li {
  /* border: 1px solid #ccc; */
  margin-left: -40px;
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  width:200%;
  
}
.users a {
  margin-left: 20px;
}

.button {
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: small;
  margin-left: 35px;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

